openapi: 3.1.0
info:
  title: Stainless Platform Build Target Outputs Builds API
  version: 0.1.0
  description: 'Stainless turns an OpenAPI specification into idiomatic SDKs, docs, MCP

    servers, CLIs, and Terraform providers. The Stainless Platform API

    (v0, base URL https://api.stainless.com) exposes endpoints for managing

    organizations, projects, branches, builds, and the current user.

    Endpoints derived from the public Stainless TypeScript SDK reference

    (https://github.com/stainless-api/stainless-api-typescript).

    '
  contact:
    name: Stainless
    url: https://www.stainless.com
servers:
- url: https://api.stainless.com
  description: Stainless Platform API (v0)
security:
- BearerAuth: []
tags:
- name: Builds
paths:
  /v0/builds:
    get:
      summary: List builds
      responses:
        '200':
          description: Paginated list of builds
      tags:
      - Builds
    post:
      summary: Create a build
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Build created
      tags:
      - Builds
  /v0/builds/{buildId}:
    parameters:
    - in: path
      name: buildId
      required: true
      schema:
        type: string
    get:
      summary: Retrieve a build
      responses:
        '200':
          description: Build
      tags:
      - Builds
  /v0/builds/compare:
    post:
      summary: Compare two builds
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Comparison result
      tags:
      - Builds
  /v0/builds/{buildId}/diagnostics:
    parameters:
    - in: path
      name: buildId
      required: true
      schema:
        type: string
    get:
      summary: List diagnostics for a build
      responses:
        '200':
          description: Diagnostics page
      tags:
      - Builds
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Stainless API key passed as a Bearer token.
